version: "3.1"
services:
  mysql:
    image: mysql:8.0
    command: mysqld --default-authentication-plugin=mysql_native_password
    volumes:
      - ./db-data:/var/lib/mysql
    environment:
      - MYSQL_ROOT_PASSWORD=admin
      - MYSQL_DATABASE=demo
      - MYSQL_USER=javier
      - MYSQL_PASSWORD=123
    ports:
      - "8002:3306"
  webserver:
    image: nginx:alpine
    working_dir: /application
    volumes:
      - .:/application
      - ./phpdocker/nginx/nginx.conf:/etc/nginx/conf.d/default.conf
    ports:
      - "8000:80"

  php:
    build:
      context: phpdocker/php-fpm
      args:
        user: javierbenitosantoni
        uid: 501
    working_dir: /application
    volumes:
      - .:/application:cached
      - ./phpdocker/php-fpm/php-ini-overrides.ini:/etc/php/7.4/fpm/conf.d/99-overrides.ini
